*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Popins',sans-serif;
}

body{
    color: #ededed;
    background-color: #081b29;
  

}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 100;
    background: transparent;
     padding: 20px 10%;
}

.logo{
    font-size: 25px;
    font-weight: 600;
    position: relative;
    color: #fff;
    text-decoration: none;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
 
}

.navbar a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    margin-left: 35px;
    display:inline-block;
    color: #ccc;
    transition:.3s ;


    &:hover{
       color: #0ef; 
    }


   
}

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(Purple\Illustrated\Desktop);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;

    & h3{
        font-size: 32px;
        font-weight: 700;
        
    }
    & h1{
        font-size: 56px;
        font-weight: 700;
        margin: -3px 0;
      
    }
    & p{
        /* color: #0ef; */
        font-size: 20px;
    }
    & span{
        color: #0ef;
    }
    
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}




.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 30px  #0ef;
}

.btn-box{
    display: inline-block;
    background-color: #0ef;
    padding: 12px 28px;
    border-radius: 40px;
    color: #081b29;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 600;
    
    &:hover{
      box-shadow: 0 0 5px cyan,
      0 0 25px cyan, 0 0 50px cyan,
      0 0 100px cyan, 0 0 200px;

      /* 0 0 25px cyan, 0 0 50px cyan,
      0 0 100px cyan, 0 0 200px cyan  */
    }
}

@keyframes slideRight